table, th, td {
  margin-left: auto;
  margin-right: auto;

}
h1 {
  background-color: maroon;
  color: white;
  text-align: center;
}
h3 {
  text-align: center;
}

.image {
  float: left;
  height: 100%;
  width: 30%;
  padding: 20px;
  font-family: Veranda;
}
.text {
  margin-left: 20px;
  float:right;
}

.hours {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 16px;
  -webkit-column-width: 1000px;
}


th {
  background-color: orange;
}

td {
  background-color: aqua;
}

form {
  float: right;
  margin-right: 20px;
}

#menu {
  background-color: grey;
  color: white;
  padding: 8px;
}
#order {
  background-color: blue;
  color: white;
  padding: 8px;
}
